<h1 class="screeningTitle">GOALS</h1>
<div class="container-fluid">
<div class = "col-md goalsDiv">
  <input type="checkbox" id="box-1" value="1">
  <label for="box-1">Lose 2 kg</label>

  <input type="checkbox" id="box-2" value="1">
  <label for="box-2">Lose 5 cm on waist</label>

  <input type="checkbox" id="box-3" value="1">
  <label for="box-3">Reduce visceral fat</label>

  <input type="checkbox" id="box-4" value="1">
  <label for="box-4">Maintain waist circumference</label>
  </div>
</div>
