<h1 class="screeningTitle">FUNCTIONAL MOVEMENT SCREEN SCORE SHEET</h1>
<div class="container-fluid">
  <div class="row firstScreenInfo">
    <div class="col-md">
      <p class="question">HAND/LEG DOMINANCE:</p>
    </div>
    <div class="col-md">
      <mat-form-field class="primarySports">
        <input matInput type="text" id="primarySport">
      </mat-form-field>
    </div>
    <div class="col-md">
      <p class="question">PREVIOUS TEST SCORE:</p>
    </div>
    <div class="col-md">
      <mat-form-field class="primarySports">
        <input matInput type="text" id="primarySports">
      </mat-form-field>
    </div>
  </div>



  <!--RAW WITH TITLES FOR COLUMNS-->
  <div class="row columnHeader">
    <div class="col-md-3 columnHeaderTest">
      <p class="question2">TEST</p>
    </div>
    <div class="col-md-3">
      <p class="question2">RAW SCORE</p>
    </div>
    <div class="col-md-3">
      <p class="question2">FINAL SCORE</p>
    </div>
    <div class="col-md-3">
      <p class="question2">COMMENTS</p>
    </div>
  </div>

  <!--ROW FOR DEEP SQUAT-->
  <div class="row">
    <div class="col-md rowHeader">
      <p>Deep squat</p>
    </div>
    <div class="col-md">
      <mat-form-field class="rawScoreSquat">
        <input matInput type="text" id="rawScoreSquat">
      </mat-form-field>
    </div>
    <div class="col-md">
      <mat-form-field class="finalScoreSquat">
        <input matInput type="text" id="finalScoreSquat">
      </mat-form-field>
    </div>
    <div class="col-md">
      <mat-form-field class="commentsSquat">
        <input matInput type="text" id="commentsSquat">
      </mat-form-field>
    </div>
  </div>

  <!--ROW FOR -->
  <div class="row">
    <div class="col-md rowHeader">
      <p>Hurdle step</p>
    </div>
    <div class="col-md">
      <mat-form-field class="rawScoreSquat">
        <input matInput type="text" id="rawScoreHurdle">
      </mat-form-field>
    </div>
    <div class="col-md">
      <mat-form-field class="finalScoreSquat">
        <input matInput type="text" id="finalScoreHurdle">
      </mat-form-field>
    </div>
    <div class="col-md">
      <mat-form-field class="commentsSquat">
        <input matInput type="text" id="commentsHurdle">
      </mat-form-field>
    </div>
  </div>

  <!--ROW FOR -->
  <div class="row">
    <div class="col-md rowHeader">
      <p>Inline lunge</p>
    </div>
    <div class="col-md">
      <mat-form-field class="rawScoreSquat">
        <input matInput type="text" id="rawScoreInline">
      </mat-form-field>
    </div>
    <div class="col-md">
      <mat-form-field class="finalScoreSquat">
        <input matInput type="text" id="finalScoreInline">
      </mat-form-field>
    </div>
    <div class="col-md">
      <mat-form-field class="commentsSquat">
        <input matInput type="text" id="commentsInline">
      </mat-form-field>
    </div>
  </div>

  <!--ROW FOR -->
  <div class="row">
    <div class="col-md rowHeader">
      <p>Shoulder mobility</p>
    </div>
    <div class="col-md">
      <mat-form-field class="rawScoreSquat">
        <input matInput type="text" id="rawShoulderMobility">
      </mat-form-field>
    </div>
    <div class="col-md">
      <mat-form-field class="finalScoreSquat">
        <input matInput type="text" id="finalShoulderMobility">
      </mat-form-field>
    </div>
    <div class="col-md">
      <mat-form-field class="commentsSquat">
        <input matInput type="text" id="commentsShoulderMobility">
      </mat-form-field>
    </div>
  </div>

  <!--ROW FOR -->
  <div class="row">
    <div class="col-md rowHeader">
      <p>Trunk stability pushup</p>
    </div>
    <div class="col-md">
      <mat-form-field class="rawScoreSquat">
        <input matInput type="text" id="rawTrunkStability">
      </mat-form-field>
    </div>
    <div class="col-md">
      <mat-form-field class="finalScoreSquat">
        <input matInput type="text" id="finalTrunkStability">
      </mat-form-field>
    </div>
    <div class="col-md">
      <mat-form-field class="commentsSquat">
        <input matInput type="text" id="commentsTrunkStability">
      </mat-form-field>
    </div>
  </div>

  <!--ROW FOR -->
  <div class="row">
    <div class="col-md rowHeader">
      <p>Rotary stability</p>
    </div>
    <div class="col-md">
    <mat-form-field class="rawScoreSquat">
      <input matInput type="text" id="rawRotaryStability">
    </mat-form-field>
  </div>
  <div class="col-md">
    <mat-form-field class="finalScoreSquat">
      <input matInput type="text" id="finalRotaryStability">
    </mat-form-field>
  </div>
  <div class="col-md">
    <mat-form-field class="commentsSquat">
      <input matInput type="text" id="commentsRotaryStability">
    </mat-form-field>
  </div>
</div>

<!--ROW FOR -->
<div class="row">
  <div class="col-md rowHeader">
    <p>TOTAL SCORE</p>
  </div>
  <div class="col-md">
    <mat-form-field class="rawScoreSquat">
      <input matInput type="text" id="rawTotalScore">
    </mat-form-field>
  </div>
  <div class="col-md">
    <mat-form-field class="finalScoreSquat">
      <input matInput type="text" id="finalTotalScore">
    </mat-form-field>
  </div>
  <div class="col-md">
    <mat-form-field class="commentsSquat">
      <input matInput type="text" id="commentsTotalScore">
    </mat-form-field>
  </div>
</div>

<!--ROW FOR HURDLE STEP-->
<!--<div class="row">-->
<!--<div class="col-md rowHeader">-->
<!--<p>HURDLE STEP</p>-->
<!--</div>-->
<!--<div class="col-md">-->

<!--&lt;!&ndash;LEFT&ndash;&gt;-->
<!--<div class="row rowHeader">-->
<!--<p>L</p>-->
<!--</div>-->

<!--&lt;!&ndash;RIGHT&ndash;&gt;-->
<!--<div class="row rowHeader">-->
<!--<p>R</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md">-->

<!--&lt;!&ndash;LEFT RAW SCORE&ndash;&gt;-->
<!--<div class="row">-->
<!--<div class="col-md">-->
<!--<mat-form-field class="rawScoreL">-->
<!--<input matInput type="text" id="rawScoreL">-->
<!--</mat-form-field>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;RIGHT RAW SCORE&ndash;&gt;-->
<!--<div class="row">-->

<!--<div class="col-md-11">-->
<!--<mat-form-field class="rawScoreR">-->
<!--<input matInput type="text" id="rawScoreR">-->
<!--</mat-form-field>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-md">-->
<!--<mat-form-field class="finalScore">-->
<!--<input matInput type="text" id="finalScore">-->
<!--</mat-form-field>-->
<!--</div>-->


<!--<div class="col-md">-->
<!--<mat-form-field class="comments">-->
<!--<input matInput type="text" id="comments">-->
<!--</mat-form-field>-->
<!--</div>-->
<!--</div>-->

</div>
