.card-container.card {
  max-width: 375px;
  padding: 40px 40px;
}
.card {
  background-color: #F7F7F7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.zoom {
  zoom: 1.0;
  -moz-transform: scale(1.0);
}

.card { background-color: rgba(245, 245, 245, 0.6); }
.card-header, .card-footer { opacity: 1}
