<div class="text-center">
  <img src="../../assets/logo.png" height="330" width="657"/>
</div>
<div class="container zoom">
  <div class="card card-container">
    <form>
      <mat-form-field class="email">
        <input matInput type="email" id="email" placeholder = "E-mail"  autocomplete="off">
      </mat-form-field>
      <mat-form-field class="pass">
        <input matInput type="password" id="pass" placeholder = "Password">
      </mat-form-field>
      <button type="submit" class="btn btn-primary btn-block" (click)="doLogin()">Login</button>
    </form>
  </div>
</div>
