.profile {
  margin-top: 20px;
}

.row-header {
  font-size: 10px !important;
}

td {
  font-size: 13px !important;
}

td>input{
  min-width: 50px;
}

th, td {
  vertical-align: middle !important;
  text-align: center;
}

.card {
  background-color: rgba(245, 245, 245, 0.7);
}

.card-header, .card-footer {
  opacity: 1
}

ul {
  padding-left: 0px !important;
}

.scroll {
  max-height: 400px !important;
  overflow-y: auto;
}


.nav-link:hover{
  background-color: #607D8B;
  color: whitesmoke;
}


.heroes li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  height: 1.6em;
  border-radius: 4px;
  padding-bottom: 2em;
}

.heroes li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;

}

.heroes li:hover {
  background-color: #BBD8DC !important;

  left: .1em;
}

.heroes .text {
  position: relative;
  top: -3px;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: 0px;
  height: 2.45em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.selected {
  background-color: #BBD8DC !important;

  color: white;
}

.modified {
  background-color: lightgreen !important;
}

.icon-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  cursor: pointer;
}

.user-l {
  padding-right: 6px;
}

.user-r {
  padding-left: 6px;
}

.user-l > img,
.user-r > img {
  width: 150px;
}

@media (min-width: 1200px){
  .container {
    max-width: 1440px;
  }

  .card-search {
    height: 1160px !important;
    width: 22rem;
    margin-right: 5px;
  }
}

@media (min-width: 1200px){

  .card-search {
    height: 900px !important;
    width: 15rem;
    margin-right: 5px;
    margin-top: 20px;

  }

  .heroes {

    list-style-type: none;
    width: 13em;
    margin-left: -7px;
  }
}

@media (min-width: 1900px){

  .card-search {
    height: 900px !important;
    width: 15rem;
    margin-right: 5px;
    margin-top: 20px;
  }

  .heroes {

    list-style-type: none;
    width: 13em;
    margin-left: -7px;
  }
}

.search-collapsed{
  margin-top: 20px;

}

.premium{
  cursor: pointer;
  color: #007bff !important;
}

.premium:hover{
  cursor: pointer;
  color: snow !important;
}

