<h1 class="screeningTitle">EMPLOYEE's DIET</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-7 calendarColumn">
      <div class="calendar">
        <div class="calendar-row">
          <div class="calendar-md week">WEEK 1</div>
          <div class="calendar-md dayTitleMonday">Monday</div>
          <ul>
            <li class="filter-box">
              <div class="calendar-md">Morning</div>
            </li>
            <mat-form-field class="primarySports">
              <textarea matInput type="text" id="Morning"></textarea>
            </mat-form-field>
            <li class="filter-box">
              <div class="calendar-md">Noon</div>
            </li>
            <mat-form-field class="primarySports">
              <textarea matInput type="text" id="Noon"></textarea>
            </mat-form-field>
            <li class="filter-box">
              <div class="calendar-md">Evening</div>
            </li>
            <mat-form-field class="primarySports">
              <textarea matInput type="text" id="Evening"></textarea>
            </mat-form-field>
          </ul>
          <div class="calendar-md dayTitle">Tuesday</div>
          <ul>
            <li class="filter-box">
              <div class="calendar-md">Morning</div>
            </li>
            <mat-form-field class="primarySports">
              <textarea matInput type="text" id="Morning"></textarea>
            </mat-form-field>
            <li class="filter-box">
              <div class="calendar-md">Noon</div>
            </li>
            <mat-form-field class="primarySports">
              <textarea matInput type="text" id="Noon"></textarea>
            </mat-form-field>
            <li class="filter-box">
              <div class="calendar-md">Evening</div>
            </li>
            <mat-form-field class="primarySports">
              <textarea matInput type="text" id="Evening"></textarea>
            </mat-form-field>
          </ul>
          <div class="calendar-md dayTitle">Wednesday</div>
          <ul>
            <li class="filter-box">
              <div class="calendar-md">Morning</div>
            </li>
            <mat-form-field class="primarySports">
              <textarea matInput type="text" id="Morning"></textarea>
            </mat-form-field>
            <li class="filter-box">
              <div class="calendar-md">Noon</div>
            </li>
            <mat-form-field class="primarySports">
              <textarea matInput type="text" id="Noon"></textarea>
            </mat-form-field>
            <li class="filter-box">
              <div class="calendar-md">Evening</div>
            </li>
            <mat-form-field class="primarySports">
              <textarea matInput type="text" id="Evening"></textarea>
            </mat-form-field>
          </ul>
          <div class="calendar-md dayTitle">Thursday</div>
          <ul>
            <li class="filter-box">
              <div class="calendar-md">Morning</div>
            </li>
            <mat-form-field class="primarySports">
              <textarea matInput type="text" id="Morning"></textarea>
            </mat-form-field>
            <li class="filter-box">
              <div class="calendar-md">Noon</div>
            </li>
            <mat-form-field class="primarySports">
              <textarea matInput type="text" id="Noon"></textarea>
            </mat-form-field>
            <li class="filter-box">
              <div class="calendar-md">Evening</div>
            </li>
            <mat-form-field class="primarySports">
              <textarea matInput type="text" id="Evening"></textarea>
            </mat-form-field>
          </ul>
          <div class="calendar-md dayTitle">Friday</div>
          <ul>
            <li class="filter-box">
              <div class="calendar-md">Morning</div>
            </li>
            <mat-form-field class="primarySports">
              <textarea matInput type="text" id="Morning"></textarea>
            </mat-form-field>
            <li class="filter-box">
              <div class="calendar-md">Noon</div>
            </li>
            <mat-form-field class="primarySports">
              <textarea matInput type="text" id="Noon"></textarea>
            </mat-form-field>
            <li class="filter-box">
              <div class="calendar-md">Evening</div>
            </li>
            <mat-form-field class="primarySports">
              <textarea matInput type="text" id="Evening"></textarea>
            </mat-form-field>
          </ul>
          <div class="calendar-md dayTitle">Saturday</div>
          <ul>
            <li class="filter-box">
              <div class="calendar-md">Morning</div>
            </li>
            <mat-form-field class="primarySports">
              <textarea matInput type="text" id="Morning"></textarea>
            </mat-form-field>
            <li class="filter-box">
              <div class="calendar-md">Noon</div>
            </li>
            <mat-form-field class="primarySports">
              <textarea matInput type="text" id="Noon"></textarea>
            </mat-form-field>
            <li class="filter-box">
              <div class="calendar-md">Evening</div>
            </li>
            <mat-form-field class="primarySports">
              <textarea matInput type="text" id="Evening"></textarea>
            </mat-form-field>
          </ul>
          <div class="calendar-md dayTitle">Sunday</div>
          <ul>
            <li class="filter-box">
              <div class="calendar-md">Morning</div>
            </li>
            <mat-form-field class="primarySports">
              <textarea matInput type="text" id="Morning"></textarea>
            </mat-form-field>
            <li class="filter-box">
              <div class="calendar-md">Noon</div>
            </li>
            <mat-form-field class="primarySports">
              <textarea matInput type="text" id="Noon"></textarea>
            </mat-form-field>
            <li class="filter-box">
              <div class="calendar-md">Evening</div>
            </li>
            <mat-form-field class="primarySports">
              <textarea matInput type="text" id="Evening"></textarea>
            </mat-form-field>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-5 calendarColumn">
      <div class="calendar-row">
        <div class="calendar-md week">WEEK 2</div>
        <div class="calendar-md dayTitleMonday">Monday</div>
        <ul>
          <li class="filter-box">
            <div class="calendar-md">Morning</div>
          </li>
          <mat-form-field class="primarySports">
            <textarea matInput type="text" id="Morning"></textarea>
          </mat-form-field>
          <li class="filter-box">
            <div class="calendar-md">Noon</div>
          </li>
          <mat-form-field class="primarySports">
            <textarea matInput type="text" id="Noon"></textarea>
          </mat-form-field>
          <li class="filter-box">
            <div class="calendar-md">Evening</div>
          </li>
          <mat-form-field class="primarySports">
            <textarea matInput type="text" id="Evening"></textarea>
          </mat-form-field>
        </ul>
        <div class="calendar-md dayTitle">Tuesday</div>
        <ul>
          <li class="filter-box">
            <div class="calendar-md">Morning</div>
          </li>
          <mat-form-field class="primarySports">
            <textarea matInput type="text" id="Morning"></textarea>
          </mat-form-field>
          <li class="filter-box">
            <div class="calendar-md">Noon</div>
          </li>
          <mat-form-field class="primarySports">
            <textarea matInput type="text" id="Noon"></textarea>
          </mat-form-field>
          <li class="filter-box">
            <div class="calendar-md">Evening</div>
          </li>
          <mat-form-field class="primarySports">
            <textarea matInput type="text" id="Evening"></textarea>
          </mat-form-field> <li class="filter-box">
          <div class="calendar-md">Morning</div>
        </li>
        </ul>
        <div class="calendar-md dayTitle">Wednesday</div>
        <ul>
          <li class="filter-box">
            <div class="calendar-md">Morning</div>
          </li>
          <mat-form-field class="primarySports">
            <textarea matInput type="text" id="Morning"></textarea>
          </mat-form-field>
          <li class="filter-box">
            <div class="calendar-md">Noon</div>
          </li>
          <mat-form-field class="primarySports">
            <textarea matInput type="text" id="Noon"></textarea>
          </mat-form-field>
          <li class="filter-box">
            <div class="calendar-md">Evening</div>
          </li>
          <mat-form-field class="primarySports">
            <textarea matInput type="text" id="Evening"></textarea>
          </mat-form-field>
        </ul>
        <div class="calendar-md dayTitle">Thursday</div>
        <ul>
          <li class="filter-box">
            <div class="calendar-md">Morning</div>
          </li>
          <mat-form-field class="primarySports">
            <textarea matInput type="text" id="Morning"></textarea>
          </mat-form-field>
          <li class="filter-box">
            <div class="calendar-md">Noon</div>
          </li>
          <mat-form-field class="primarySports">
            <textarea matInput type="text" id="Noon"></textarea>
          </mat-form-field>
          <li class="filter-box">
            <div class="calendar-md">Evening</div>
          </li>
          <mat-form-field class="primarySports">
            <textarea matInput type="text" id="Evening"></textarea>
          </mat-form-field>
        </ul>
        <div class="calendar-md dayTitle">Friday</div>
        <ul>
          <li class="filter-box">
            <div class="calendar-md">Morning</div>
          </li>
          <mat-form-field class="primarySports">
            <textarea matInput type="text" id="Morning"></textarea>
          </mat-form-field>
          <li class="filter-box">
            <div class="calendar-md">Noon</div>
          </li>
          <mat-form-field class="primarySports">
            <textarea matInput type="text" id="Noon"></textarea>
          </mat-form-field>
          <li class="filter-box">
            <div class="calendar-md">Evening</div>
          </li>
          <mat-form-field class="primarySports">
            <textarea matInput type="text" id="Evening"></textarea>
          </mat-form-field>
        </ul>
        <div class="calendar-md dayTitle">Saturday</div>
        <ul>
          <li class="filter-box">
            <div class="calendar-md">Morning</div>
          </li>
          <mat-form-field class="primarySports">
            <textarea matInput type="text" id="Morning"></textarea>
          </mat-form-field>
          <li class="filter-box">
            <div class="calendar-md">Noon</div>
          </li>
          <mat-form-field class="primarySports">
            <textarea matInput type="text" id="Noon"></textarea>
          </mat-form-field>
          <li class="filter-box">
            <div class="calendar-md">Evening</div>
          </li>
          <mat-form-field class="primarySports">
            <textarea matInput type="text" id="Evening"></textarea>
          </mat-form-field>
        </ul>
        <div class="calendar-md dayTitle">Sunday</div>
        <ul>
          <li class="filter-box">
            <div class="calendar-md">Morning</div>
          </li>
          <mat-form-field class="primarySports">
            <textarea matInput type="text" id="Morning"></textarea>
          </mat-form-field>
          <li class="filter-box">
            <div class="calendar-md">Noon</div>
          </li>
          <mat-form-field class="primarySports">
            <textarea matInput type="text" id="Noon"></textarea>
           </mat-form-field>
          <li class="filter-box">
            <div class="calendar-md">Evening</div>
          </li>
          <mat-form-field class="primarySports">
            <textarea matInput type="text" id="Evening"></textarea>
          </mat-form-field>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-xs-5">
    This container intentionally left blank2.
  </div>
  <div class="col-xs-5">
    This container intentionally left blank3.
  </div>

</div>
<h1 class="screeningTitle">RECOMMENDED DIET</h1>

<div class="col-md">
  <mat-form-field class="primarySports">
    <input matInput type="text" id="1">
  </mat-form-field>
</div>
<div class="col-md">
  <mat-form-field class="primarySports">
    <input matInput type="text" id="2">
  </mat-form-field>
</div>
<div class="col-md">
  <mat-form-field class="primarySports">
    <input matInput type="text" id="3">
  </mat-form-field>
</div>

