<p></p>
<div class="container-fluid" >

  <div class="card-deck">

    <div class="card border-danger">
      <h5 class="card-header text-danger">20 October 2018 - Cluj Napoca</h5>
      <div class="card-body text-danger">
        <h5 class="card-title">Event type: Measurement session <i class="fas fa-weight"></i></h5>
        <h5 class="card-title">Location: Platinia</h5>
        <h6 class="card-title">Places available: 45</h6>
        <h6 class="card-title">Places left: 35</h6>
        <!--<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>-->
      </div>
      <div class="card-footer text-danger">
        <small class="text-muted">In progress</small>
        <a href="#" class="btn btn-primary float-right">Opt in</a>

      </div>
    </div>

    <div class="card border-primary">
      <h5 class="card-header text-primary">27 October 2018 - Cluj Napoca</h5>
      <div class="card-body text-primary">
        <h5 class="card-title">Event type: Measurement session <i class="fas fa-weight"></i></h5>
        <h5 class="card-title">Location: Olimpia Business Center</h5>
        <h6 class="card-title">Places available: 45</h6>
        <h6 class="card-title">Places left: 45</h6>
        <!--<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>-->
      </div>
      <div class="card-footer text-primary">
        <small class="text-muted">7 days remaining</small>
        <a href="#" class="btn btn-primary float-right">Opt in</a>

      </div>
    </div>

    <div class="card border-primary">
      <h5 class="card-header text-primary">2 November 2018 - Oradea</h5>
      <div class="card-body text-primary">
        <h5 class="card-title">Event type: Nutrition Workshop <i class="fas fa-heartbeat"></i></h5>
        <h5 class="card-title">Location: Oradea Plaza</h5>
        <h6 class="card-title">Places available: 15</h6>
        <h6 class="card-title">Places left: 15</h6>
        <!--<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>-->
      </div>
      <div class="card-footer text-primary">
        <small class="text-muted">1 week and 6 days remaining</small>
        <a href="#" class="btn btn-primary float-right">Opt in</a>

      </div>
    </div>

    <div class="card border-primary" style="max-width:280px" >
      <h5 class="card-header text-primary">Demo users</h5>
      <div class="card-body text-primary">
        <h5 class="card-title">Trainer</h5>
        <h6 class="card-title">e-mail: demo.trainer@accesa.eu</h6>
        <h6 class="card-title">password: 1234</h6>
        <h5 class="card-title">Employee</h5>
        <h6 class="card-title">e-mail: demo.employee@accesa.eu</h6>
        <h6 class="card-title">password: 1234</h6>
        <!--<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>-->
      </div>
      <div class="card-footer text-primary">

      </div>
    </div>

  </div>


</div>
