<div class = "container">
<form class="example-form">
  <ul>
    <li class="filter-box">
      <h2 class="question">Do you take medication or supplements? If so, please mention them bellow.</h2>
      <input type="checkbox" id="box-1" value="1">
      <label for="box-1">Yes</label>

      <input type="checkbox" id="box-2" value="2">
      <label for="box-2">No</label>
    </li>

    <li class="filter-box">
      <h2 class="question">Do you have approval from your doctor to exercise?</h2>
      <input type="checkbox" id="box-3">
      <label for="box-3">Yes</label>

      <input type="checkbox" id="box-4">
      <label for="box-4">No</label>
    </li>

    <li class="filter-box">
      <h2 class="question">Do you exercise regularly?</h2>
      <input type="checkbox" id="box-5">
      <label for="box-5">Yes</label>

      <input type="checkbox" id="box-6">
      <label for="box-6">No</label>
    </li>

    <li class="filter-box">
      <h2 class="question">Did you had:</h2>

      <h3 class="sub-question">- heart problems, chest pains or cardiac arrest</h3>
      <input type="checkbox" id="box-7">
      <label for="box-7">Yes</label>

      <input type="checkbox" id="box-8">
      <label for="box-8">No</label>
    </li>

    <li class="filter-box">
      <h3 class="sub-question">- high blood pressure</h3>
      <input type="checkbox" id="box-9">
      <label for="box-9">Yes</label>

      <input type="checkbox" id="box-10">
      <label for="box-10">No</label>
    </li>

    <li class="filter-box">
      <h3 class="sub-question">- chronic diseases</h3>
      <input type="checkbox" id="box-111">
      <label for="box-111">Yes</label>

      <input type="checkbox" id="box-11">
      <label for="box-11">No</label>
    </li>

    <li class="filter-box">
      <h3 class="sub-question">- difficulty in exercising</h3>
      <input type="checkbox" id="box-12">
      <label for="box-12">Yes</label>

      <input type="checkbox" id="box-13">
      <label for="box-13">No</label>
    </li>

    <li class="filter-box">
      <h3 class="sub-question">- interdiction from your doctor in exercising</h3>
      <input type="checkbox" id="box-14">
      <label for="box-14">Yes</label>

      <input type="checkbox" id="box-15">
      <label for="box-15">No</label>
    </li>

    <li class="filter-box">
      <h3 class="sub-question">- surgeries (in the last 12 months)</h3>
      <input type="checkbox" id="box-16">
      <label for="box-16">Yes</label>

      <input type="checkbox" id="box-17">
      <label for="box-17">No</label>
    </li>

    <li class="filter-box">
      <h3 class="sub-question">- pregnancy (in the last 3 months)</h3>
      <input type="checkbox" id="box-18">
      <label for="box-18">Yes</label>

      <input type="checkbox" id="box-19">
      <label for="box-19">No</label>
    </li>

    <li class="filter-box">
      <h3 class="sub-question">- pulmonary or respiratory problems</h3>
      <input type="checkbox" id="box-20">
      <label for="box-20">Yes</label>

      <input type="checkbox" id="box-21">
      <label for="box-21">No</label>
    </li>

    <li class="filter-box">
      <h3 class="sub-question">- muscular, articular, back problems or any other type of similar impairments which still
        affects you</h3>
      <input type="checkbox" id="box-22">
      <label for="box-22">Yes</label>

      <input type="checkbox" id="box-23">
      <label for="box-23">No</label>
    </li>

    <li class="filter-box">
      <h3 class="sub-question">- diabetes or thyroid problems</h3>
      <input type="checkbox" id="box-24">
      <label for="box-24">Yes</label>

      <input type="checkbox" id="box-25">
      <label for="box-25">No</label>
    </li>

    <li class="filter-box">
      <h3 class="sub-question">- obesity</h3>
      <input type="checkbox" id="box-26">
      <label for="box-26">Yes</label>

      <input type="checkbox" id="box-27">
      <label for="box-27">No</label>
    </li>

    <li class="filter-box">
      <h3 class="sub-question">- high cholesterol</h3>
      <input type="checkbox" id="box-28">
      <label for="box-28">Yes</label>

      <input type="checkbox" id="box-29">
      <label for="box-29">No</label>
    </li>

    <li class="filter-box">
      <h3 class="sub-question">- heart affections in your family (first degree relatives)</h3>
      <input type="checkbox" id="box-30">
      <label for="box-30">Yes</label>

      <input type="checkbox" id="box-31">
      <label for="box-31">No</label>
    </li>

    <li class="filter-box">
      <h3 class="sub-question">- hernia or any other affection which could agravate if you lift weights or do
        exercises?</h3>
      <input type="checkbox" id="box-32">
      <label for="box-32">Yes</label>

      <input type="checkbox" id="box-33">
      <label for="box-33">No</label>
    </li>

    <li class="filter-box">
      <h3 class="question">Do you smoke?</h3>
      <input type="checkbox" id="box-34">
      <label for="box-34">Yes</label>

      <input type="checkbox" id="box-35">
      <label for="box-35">No</label>
    </li>


    <li class="filter-box">
      <h2 class="question">Describe the type of activity which is you practice regularly. (besides sad, sad, lonely sex)</h2>

    </li>
    <mat-form-field class="activityDesc" minlength="800px">
      <textarea matInput type="text" id="activityDesc"></textarea>
    </mat-form-field>
  </ul>
</form>
</div>

<!--<div class="container extra">-->
<!--<div class = "col-md-2"></div>-->
<!--<div class = "col-md-8">-->
<!--<label>"Ceva"</label>-->
<!--</div>-->
<!--<div class = "col-md-2"></div>-->
<!--</div>-->
