<h1 class="screeningTitle">ANAMNESIS</h1>
<div class="container-fluid" >
  <form class="example-form">
    <ul>
      <li class="filter-box">
        <h2 class="question">Do you take medication or supplements? If so, please mention them bellow.</h2>
        <input type="checkbox" id="box-1" value="1">
        <label for="box-1">Yes</label>
        <input type="checkbox" id="box-2" value="2">
        <label for="box-2">No</label>
        <mat-form-field class="activityDesc">
          <textarea matInput type="text" id="activityDesc"></textarea>
        </mat-form-field>
      </li>

      <li class="filter-box">
        <h2 class="question">Do you have approval from your doctor to exercise?</h2>
        <input type="checkbox" id="box-3">
        <label for="box-3">Yes</label>

        <input type="checkbox" id="box-4">
        <label for="box-4">No</label>
      </li>

      <li class="filter-box">
        <h2 class="question">Do you exercise regularly?</h2>
        <input type="checkbox" id="box-5">
        <label for="box-5">Yes</label>

        <input type="checkbox" id="box-6">
        <label for="box-6">No</label>
      </li>

      <li class="filter-box">
        <h2 class="question">Did you have:</h2>

        <input type="checkbox" id="box-7">
        <label for="box-7"> Heart problems;</label>
        <input type="checkbox" id="box-8">
        <label for="box-8"> Chest pains; </label>
        <input type="checkbox" id="box-9">
        <label for="box-9"> Cardiac arrest; </label>
        <input type="checkbox" id="box-10">
        <label for="box-10"> High blood pressure;</label>
        <input type="checkbox" id="box-11">
        <label for="box-11"> Chronic diseases;</label>
        <input type="checkbox" id="box-12">
        <label for="box-12"> Difficulty in exercising;</label>
        <input type="checkbox" id="box-13">
        <label for="box-13"> Interdiction from your doctor in exercising;</label>
        <input type="checkbox" id="box-16">
        <label for="box-16"> Surgeries (in the last 12 months)</label>
        <input type="checkbox" id="box-17">
        <label for="box-17"> Pregnancy (in the last 3 months);</label>
        <input type="checkbox" id="box-19">
        <label for="box-19"> Pulmonary or respiratory problems;</label>
        <input type="checkbox" id="box-20">
        <label for="box-20"> Muscular;</label>
        <input type="checkbox" id="box-21">
        <label for="box-21"> Articular; </label>
        <input type="checkbox" id="box-22">
        <label for="box-22"> Back problems; </label>
        <input type="checkbox" id="box-24">
        <label for="box-24"> Diabetes;</label>
        <input type="checkbox" id="box-25">
        <label for="box-25"> Thyroid problems;</label>
        <input type="checkbox" id="box-26">
        <label for="box-26"> Obesity;</label>
        <input type="checkbox" id="box-27">
        <label for="box-27"> High cholesterol; </label>
        <input type="checkbox" id="box-28">
        <label for="box-28"> Heart affections in your family (first degree relatives); </label>
        <input type="checkbox" id="box-29">
        <label for="box-29"> Hernia; </label>
      <li class="filter-box">
        <h2 class="question"> Other affection which could aggravate if you lift weights or do exercises: </h2>
      </li>
      <mat-form-field class="activityDesc">
        <textarea matInput type="text" id="othersDesc"></textarea>
      </mat-form-field>


      <li class="filter-box">
        <h3 class="question">Do you smoke?</h3>
        <input type="checkbox" id="box-34">
        <label for="box-34">Yes</label>

        <input type="checkbox" id="box-35">
        <label for="box-35">No</label>
      </li>


      <li class="filter-box">
        <h2 class="question">Describe the type of activity which is you practice regularly.</h2>

      </li>
      <mat-form-field class="activityDesc">
        <textarea matInput type="text" id="practiceDesc"></textarea>
      </mat-form-field>
    </ul>
  </form>
</div>

<!--<div class="container extra">-->
<!--<div class = "col-md-2"></div>-->
<!--<div class = "col-md-8">-->
<!--<label>"Ceva"</label>-->
<!--</div>-->
<!--<div class = "col-md-2"></div>-->
<!--</div>-->
